<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<form action="" method="POST">
			{% csrf_token %}
			<div>
				<label for="username" >Username</label>
				<input type="text" name="username">
			</div>
			<div>
				<label for="password">Password</label>
				<input type="text" name="password">
			</div>
			<button type="submit">login</button>
		</form>
		<div>
			<p>dont have an account?</p>
			<a href="{% url 'user-register' %}">Register</a>
		</div>
	</div>

	
</body>
</html>