{% extends 'employees/base.html' %}
{% load crispy_forms_tags %}
{% block style %}
<style type="text/css">
  body{
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
</style>
{% endblock style %}
{% block content %}
<div class="container">
      <div class="row justify-content-center ">
        <div class="col-4">
          <h1 class="mt-2">Add Department</h1>
          <hr class="mt-0 mb-4">
        <form action="" method="POST">
			{% csrf_token %}
			{{ form|crispy }}
      <p>* required</p>

			<button class="btn btn-primary">Submit</button>
		</form>
          
        </div>
      </div>
</div>



{% endblock content %}