{% extends 'employees/base.html' %}
{% load crispy_forms_tags %}
{% block style %}
<style type="text/css">
  body{
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  .container{
  position: absolute;
  margin:0px auto;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}
</style>
{% endblock style %}
{% block content %}
<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Happy Vacations</h1>
          <hr class="mt-0 mb-4">
        <form action="" method="POST">
			{% csrf_token %}
			{{ form|crispy }}

			<button class="btn btn-primary">Submit</button>
		</form>
          
        </div>
      </div>
</div>



{% endblock content %}